---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
	<div class="flex flex-col gap-2">
		<div class="text-sm font-light">
			<p>
				Hi, I'm Hoach, a fullstack software developer from Vietnam.
				<br />
				My primary tools of choice includes:
			</p>
			<ul class="list-disc list-inside">
				<li>Typescript (Vue, React, Angular)</li>
				<li>Golang</li>
				<li>Docker</li>
				<li>Kubernetes</li>
				<li>PostgreSQL</li>
                <li>Linux (Ubuntu, Nixos)</li>
			</ul>
		</div>
		<p class="text-sm font-light">
			Beyond software engineering, I’m fascinated by the art of systems —
			from mathematical patterns to startup dynamics. I love exploring the
			deep logic behind innovation, thinking recursively about problems,
			and uncovering business opportunities hidden in complexity
		</p>
		<p class="text-sm font-light">
			While I have some preferred tools, I always choose the best one for
			the job, even if it's not on my usual list. My goal is to find the
			right solution for each project.
		</p>
	</div>
</Card>
